/** Global rules/Setup **/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection{
  background: rgba(100,100,100,0.9);
}
::-moz-selection{
  background: rgba(100,100,100,0.9);
}

:root{
  --panel_back: rgba(3, 9, 19, 0.9);
  --panel_border: 2px solid rgba(87, 83, 83, 0.9);
  --panel_text: white;
  --link-color:  #735fd5;
  --link-highlight: #ab46ff;
}
html{
  background-image: url(images/background3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body{

  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 100vw;
  font-family: 'Gudea', sans-serif;
  font-size: 30px;
}

a{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color:  var(--link-color);
}

a:focus, a:hover{
  color: var(--link-highlight);
}

svg{
  display: block;
  fill: #aaa;
}

.hidden-scroll::-webkit-scrollbar{
  display: none;
}
.hidden-scroll{
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */  
}

.panel{
  background: var(--panel_back);
  border: var(--panel_border);
  color: var(--panel_text);
}

.Button{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  border: 2px solid rgba(255,255,255,0.2);
  background: rgba(0,0,0,0.2);
  padding: 11px;
  border-radius: 5px;
  outline: 3px solid transparent;
  outline-offset: 0px;
  transition: border 0.5s, background 0.5s, outline 0.5s, outline-offset 0.25s;
}
.Button:hover {
  border: 2px solid rgba(255,255,255,0.6);
  color: white;
  background: rgba(0,0,0,0.6);
}
.Button:active {
  border: 2px solid rgba(255,255,255,0.9);
  background: rgba(100,100,100,0.9);
}
.Button:focus {
  outline: 3px rgba(255,255,255, 0.8) solid;
  color: white;
  outline-offset: -5px;
}
/**********************/

.icon-main-but{
  width: 18px;
  height: 18px;
  /* Odd little hack to change svg color while loaded in through an <img> */
  filter: invert(100%) sepia(40%) saturate(2%) hue-rotate(96deg) brightness(110%) contrast(101%);
}

.icon-spacer{
  display: flex; 
  align-items: center; 
  justify-content: space-evenly;
  transform: skew(-30deg);
}




.back-but{
  width: 200px;
}

.greet-but{
  /* display:  flex; */
  margin: 2px 0px;
  position: relative;
  width: 140px;
  padding: 11px 0px;
  transform:  skew(30deg);
  transition: transform 0.2s, border 0.5s, background 0.5s, outline 0.5s, outline-offset 0.25s;
}
.greet-but:focus{
  transform: translateX(115px) skew(30deg);
  transition: transform 0.2s, border 0.5s, background 0.5s, outline 0.5s, outline-offset 0.25s;
}
.greet-but:after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  outline: red 0px solid;
}
.greet-but:active:after{
  top: -2px;
  left: -117px;
  bottom: 0px;
  width: 252px;
  height: 48px;
}


#Name{
  font-size: 40px;
}

#greet_buttons{
  margin: 15px 0px;
  display: flex;
  width: 300px;
  flex-direction: column;
}

#home{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  top: -1000vh;
  left: -1000vw;
  transition: opacity 4s;
  opacity: 0;
}

#aboutme{
  text-align: center;
  line-height: auto;
  font-size: 3vw;
  margin: 0px auto;
  width: 70%;
  max-width: 750px;
  padding: 40px;
  border-radius: 5px;
}
#aboutme > p{
  text-align: left;
  text-indent: 8%;
}
#aboutme > b{
  font-size: 30px;
}

/*Projects Section*/
#projects{
  margin: 0px auto 0px auto;
}
#proj_cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#proj_cont > div{
  display: flex;
  text-align: left;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  width: 90%;
  max-width: 800px;
  min-width: 500px;
  height: 250px;
}
.proj_piece{
 text-align: center;
  overflow: auto;
  font-size: 2.8vw;
  margin-top: 5px;
  width: 70%;
}
.proj_image{
 width: 250px;
}
#proj_cont > div > .Button{
 border-radius: 0px;
}
#proj_cont > div p{
 margin: 25px;
}

#game_proj, #atom_sim, #ecomproj, #projects, #aboutme, #tortfolio, #experience, #national-university-exp{
  position: absolute;
  top: -1000vh;
  left: -1000vw;
  transition: opacity 1s;
  opacity: 0;
  visibility: hidden;
}

#game_header{
  grid-area: header;
  padding: 10px;
  max-width: 1000px;
  margin: 25px auto;
}
#game_grid_cont{
  display: grid;
  max-width: 1800px;
  margin: auto;
  grid-template-areas: 'header header';
}
.game_show_cont{
  border-radius: 5px;
  margin: 7px;
}
.game_show_cont > h1{
  font-size: 29px;
  padding: 15px;
}
.game_show_cont > p{
  font-size: 20px;
  min-width: 200px;
}
.img_game_l{
  float: left;
  height: 300px;
}
.img_game_r{
  float: right;
  height: 300px;
}

#atom_summary{
text-align: center;
line-height: 27px;
font-size: 20px;
margin: 10px;
width: 100%;
max-width: 540px;
padding: 15px 30px;
border-radius: 5px;
}
#atom_summary > p{
  text-align: left;
  text-indent: 8%;
}

#atom_sim{
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
#atom_embed > iframe{
height: 905px;
max-width: 540px;
}

#ford-react{
  position: relative;
  top: 30px;
  font-size: 18px;
  grid-area: react; 
  }
#ford-mongo
{ 
  position: relative;
  top: 30px;
  font-size: 18px;
  grid-area: mongo;
}
#ford-main
{ 
  position: relative;
  bottom: 20px;
  font-size: 18px;
  grid-area: main;
}

#ecomproj{
  max-width: 1600px;
  margin: auto;
  text-indent: 50px;
  display: grid;
  grid-gap: 15px 15px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "mongo main react";
  /*grid-auto-flow: column;
  grid-auto-columns: 1fr;*/
}

.ford-container{
  text-align: left;
	font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;	
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ford-image{
  display: block;
  margin: 0px auto;
  max-height: 200px;
  max-width: 100%;
  border-color: red;
  border-width: 1px;
}

.ford-image-main{
  display: block;
  margin: 0px auto;
  max-height: 300px;
  max-width: 100%;
}

#tortfolio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px 3px;
  max-width: 1300px;
}


.tort_proj{
  padding: 17px;
  border-radius: 5px;
  margin: 8px 0px;
  font-size: 22px;
  position: relative;
}

.tort_proj{
  top: 50px;
}

.tort_proj:nth-child(2){
  top: -50px;
}

.tort_proj > p{
  text-align: left;
  text-indent: 40px;
}

#experience{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-box{
  display: flex;
  width: 336px;
  flex-direction: column;
  padding:  16px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
}
.experience-image{
  padding-bottom: 10px;
}

#national-university-exp{
width: 960px;
height: 700px;
font-size: 22px;
display: grid;
grid-column-gap: 10px;
grid-row-gap: 10px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 215px 215px 1fr 1fr auto;
grid-template-areas: "main main main aside1"
                     "main main main aside2"
                     "main main main aside3"
 
                     ".    .    .    but";
}
#national-university-exp > div > p{
  font-size: 17px;
}
#national-university-exp > div > a{
  display: block;
  margin: 12px 0px;
}

.test1{
  grid-area: main;
}
.test2{
  grid-area: aside1;
}
.test3{
  grid-area: aside2;
}
.test4{
  grid-area: aside3;
}
.test5{
  grid-area: but;
}

#nat-univ-overview{
  padding: 18px;
}
#nat-univ-overview > p{
  text-indent: 40px;
  text-align: left;
}


/*Standard monitor size and above*/
@media screen and (min-width: 800px){
  #aboutme{
  font-size: 24px;
  line-height: 32px;
  }
  
  .proj_piece{
  font-size: 23px;    
  }
}

@media screen and (max-width: 1100px){
  .game_show_cont > h1{
  clear: both;
  }
  .game_show_cont > p{
  clear: both;
  }
}

/*Phone/tablet size*/
@media screen and (max-width: 850px){

  #aboutme{
    width: 85%;
    } 

  #ecomproj{
  grid-template-areas: 
  "main"
  "mongo"
  "react";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  }
  #ford-main, #ford-mongo, #ford-react{
  position: static;
  }

  #game_grid_cont{
    grid-template-areas: 'header';
    }
  .game_show_cont > h1{
    clear: none;
    }
    .game_show_cont > p{
    clear: none;
    }  

    #tortfolio{
      grid-template-columns: 1fr;
    }

    .tort_proj{
      position: static;
    }
}


@media screen and (max-width: 600px){
   #aboutme{
    width: 100%;
    font-size: 18px;
    } 
    #atom_embed{
    transform-origin: center;
    transform: scale(0.8);
    }
}


@media screen and (max-width: 500px){
 
  
  #proj_cont > div{
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    height: auto;
  }
  
  #proj_cont > div p{
  margin: 15px;
  }
  
  .proj_piece{
    font-size: 16px;
  }
}