*{
  box-sizing: boder-box;
  padding: 0px;
  margin: 0px;
}
:root{
  --panel_back: rgba(18, 19, 36, 0.9);
  --panel_border: 2px solid rgba(87, 83, 83, 0.9);
  --panel_text: white;
}
body{
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

a{
  text-decoration: none;
}

.panel{
  background: var(--panel_back);
  border: var(--panel_border);
  color: var(--panel_text);
}


#Master{
  text-align: center;
  font-family: 'Gudea', sans-serif;
  font-size: 30px;
}

#Name{
  font-size: 40px;
}

#greet_buttons{
  margin: 50px 0px;
}

#greet_box{
  margin: 300px auto;
  top: -1000px;
  transition: opacity 1s;
}

.Button{
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  border: 2px solid rgba(255,255,255,0.2);
  background: rgba(0,0,0,0.2);
  padding: 11px;
  border-radius: 5px;
  transition: border 0.5s;
  transition: background 0.5s;
}
.Button:hover {
  border: 2px solid rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.6);
}
.Button:active {
  border: 2px solid rgba(255,255,255,0.9);
  background: rgba(100,100,100,0.9);
}

#aboutme{
  text-align: center;
  line-height: 35px;
  font-size: 3vw;
  margin: 30px auto 0px auto;
  width: 70%;
  max-width: 750px;
  padding: 40px;
  border-radius: 5px;
}
#aboutme p {
  text-align: left;
  text-indent: 50px;
}
#gobackbutton_1{
  margin: auto;
  position: relative;
  top: 200px;
}

#projects{
  margin: 0px auto 0px auto;
}
#proj_cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#proj_cont > div{
  display: flex;
  text-align: left;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  width: 90%;
  max-width: 800px;
  min-width: 500px;
  height: 250px;
}
.proj_piece{
 text-align: center;
  overflow: auto;
  font-size: 2.8vw;
  margin-top: 5px;
  width: 70%;
}
.proj_image{
 width: 250px;
}
#proj_cont > div > .Button{
 border-radius: 0px;
}
#proj_cont > div p{
 margin: 25px;
}

#game_proj, #atom_sim, #fordington_proj, #projects, #aboutme{
  position: absolute;
  top: -1000vh;
  transition: opacity 1s;
  opacity: 0;
}

#game_header{
  grid-area: header;
  padding: 10px;
  margin: 25px 30%;
}
#game_grid_cont{
  display: grid;
  max-width: 1800px;
  margin: auto;
  grid-template-areas: 'header header';
}
.game_show_cont{
  border-radius: 5px;
  margin: 7px;
}
.game_show_cont > h1{
  font-size: 29px;
}
.game_show_cont > p{
  font-size: 20px;
}
.img_game_l{
  float: left;
  height: 300px;
}
.img_game_r{
  float: right;
  height: 300px;
}

#atom_summary{
text-align: center;
line-height: 35px;
font-size: 22px;
margin: 30px auto 0px auto;
width: 70%;
max-width: 500px;
padding: 40px;
border-radius: 5px;
}

#ford-react{
  position: relative;
  top: 70px;
  font-size: 18px;
  grid-area: react; 
  }
#ford-mongo
{ 
  position: relative;
  top: 70px;
  font-size: 18px;
  grid-area: mongo;
}
#ford-main
{ 
  position: relative;
  top: 20px;
  font-size: 18px;
  grid-area: main;
}

#fordington_proj{
  max-width: 1600px;
  margin: auto;
  text-indent: 50px;
  display: grid;
  grid-gap: 15px 15px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "mongo main react";
  /*grid-auto-flow: column;
  grid-auto-columns: 1fr;*/
}

.ford-container{
  text-align: left;
	font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;	
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ford-image{
  display: block;
  margin: 0px auto;
  max-height: 200px;
  max-width: 100%;
  border-color: red;
  border-width: 1px;
}

.ford-image-main{
  display: block;
  margin: 0px auto;
  max-height: 300px;
  max-width: 100%;
}

/*Standard monitor size and above*/
@media screen and (min-width: 800px){
  #aboutme{
  font-size: 24px;
  }
  
  .proj_piece{
  font-size: 23px;    
  }
}
/*Phone/tablet size*/
@media screen and (max-width: 600px){
   #aboutme{
  font-size: 18px;
  } 
  #game_grid_cont{
  grid-template-areas: 'header';
}
}


@media screen and (max-width: 500px){
 
  
  #proj_cont > div{
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    height: auto;
  }
  
  #proj_cont > div p{
  margin: 15px;
  }
  
  .proj_piece{
    font-size: 16px;
  }
}